body {
    background-color: hsl(41, 41%, 97%);
    color: hsl(107, 11%, 15%);
    font: 16px/1.25 "Lucida Sans", "Lucida Grande", "Droid Sans", sans-serif;
    margin: 1em;
    max-width: 960px;
}
ol {
    list-style-type: lower-alpha;
}
a {
    color: hsl(107, 31%, 35%);
    text-decoration: underline;
}
a:hover, a:active {
    text-decoration: none;
}

/* Snide asides */
.snide-aside {
    display: block;
    font-size: 85%;
    padding-left: 2em;
}
.snide-aside::before {
    content: '(';
}
.snide-aside::after {
    content: ')';
}

/* Mythbusters */
.mythbusters-confirmed {
    background-color: #885B22;
    border-radius: 0.25em;
    box-shadow: 0 0 6px 2px hsl(51, 55%, 9%) inset;
    color: hsl(51, 55%, 89%);
    display: inline-block;
    font-family: Consolas, Menlo, "Courier New", monospace;
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1;
    margin-top: 0.25em;
    padding: 0.25em;
    text-shadow: 0 1px 6px hsl(51, 55%, 9%);
    text-transform: uppercase;
    transform: rotate(-5deg);
}

/* Graphs */
odi-graph {
    display: block;
    position: relative;
    overflow: visible;
    width: 100%;
}
odi-graph .description {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}
odi-graph svg {
    display: block;
    height: 250px;
    font-size: 0.75em;
    width: 100%;
    display: block;
}
odi-graph .domain,
odi-graph .tick line {
    fill: none;
    stroke: #000;
}
odi-graph .over-30 line {
    stroke: #666;
    stroke-dasharray: 2 2;
}
odi-graph .over-30 text {
    fill: #666;
}
odi-graph .innings-mark {
    fill: hsl(240, 90%, 73%);
    opacity: 0.2;
}
odi-graph .innings-mark.hovered {
    opacity: 0.9;
    stroke: hsl(240, 80%, 33%);
}
odi-graph .line-average {
    fill: none;
    stroke: hsl(25, 83%, 59%);
    stroke-width: 2;
    opacity: 0.8;
}
odi-graph .line-average-rolling {
    stroke: hsl(197, 83%, 59%);
}
odi-graph .hover-rule {
    display: none;
    stroke: hsl(107, 51%, 35%);
}
odi-graph .hover-rule.active {
    display: inline;
}
odi-graph .hover-events {
    opacity: 0;
}
odi-graph .tooltip {
    background-color: hsl(41, 81%, 91%);
    border: 1px solid hsl(107, 51%, 35%);
    border-radius: 2px;
    box-shadow: 0 3px 5px 2px rgba(0,0,0,0.5);

    display: none;
    font-size: 0.75em;
    width: 20em;
    position: absolute;
    z-index: 1;
}
odi-graph .tooltip.active {
    display: block;
}
odi-graph .tooltip-header {
    background-color: hsl(107, 28%, 48%);
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0.5em 1em;
}
odi-graph .tooltip-averages {
    margin: 1em;
}
odi-graph .tooltip-innings-details {
    margin: 1em 0;
    border-top: 1px dashed hsl(41, 59%, 41%);
    padding: 0 1em;
}
odi-graph .tooltip dt {
    float: left;
    width: 9em;
}
odi-graph .tooltip dd {
    font-weight: bold;
    margin: 0;
}


/**
 * BREAKPOINT: Wide enough for two columns
 *\/
@media (min-width: 400em) {
    /* Put the snide asides over to the right *\/
    .snide-aside {
        display: inline;
        float: right;
        margin-right: -53.6%;
        padding: 0;
        width: 40%;
    }
    .snide-aside::before, .snide-aside::after {
        content: '';
    }
    .snide-aside .snide-aside-mark {
        margin-left: -0.55em;
    }
}
*/

@media (min-width: 992px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
}
