body {
    background-color: hsl(41, 41%, 97%);
    color: hsl(107, 11%, 15%);
    font: 16px/1.25 "Lucida Sans", "Lucida Grande", "Droid Sans", sans-serif;
    margin: 1em;
    max-width: 960px;
}
ol {
    list-style-type: lower-alpha;
}
a {
    color: hsl(107, 31%, 35%);
    text-decoration: underline;
}
a:hover, a:active {
    text-decoration: none;
}
h2, h3 {
    margin-top: 1.5em;
}

/* Callout stats */
.callout {
    background-color: hsl(40, 43%, 87%);
    border-radius: 2px;
    display: block;
    font-style: italic;
    font-weight: bold;
    margin-left: 1em;
    margin-bottom: 0.5em;
    padding: 0.25em;
}
.callout::before {
    content: '• ';
}
.callout::after {
    content: ''
}

/* Mythbusters */
.mythbusters-confirmed {
    background-color: #885B22;
    border-radius: 0.25em;
    box-shadow: 0 0 6px 2px hsl(51, 55%, 9%) inset;
    color: hsl(51, 55%, 89%);
    display: inline-block;
    font-family: Consolas, Menlo, "Courier New", monospace;
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1;
    margin-top: 0.25em;
    padding: 0.25em;
    text-shadow: 0 1px 6px hsl(51, 55%, 9%);
    text-transform: uppercase;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
}

/* Graphs */
odi-graph {
    display: block;
    min-height: 250px;
    position: relative;
    overflow: visible;
    width: 100%;
}
odi-graph + odi-graph {
    margin-top: 1em;
}
odi-graph figcaption {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}
odi-graph svg {
    display: block;
    font-size: 0.75em;
}
odi-graph .main-graph {
    height: 230px;
    width: 100%;
}
odi-graph .title {
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
}
odi-graph .domain,
odi-graph .tick line,
odi-graph path.legend-example {
    fill: none;
    stroke: #000;
}
odi-graph .region .background {
    fill: #eee;
    stroke: none;
    opacity: 0.2;
}
odi-graph .region .title {
    font-size: 1.16666667em;
}
odi-graph .over-30 line {
    stroke: #666;
    stroke-dasharray: 2 2;
}
odi-graph .over-30 text {
    fill: #666;
}
odi-graph .innings-mark,
odi-graph .legend-item-innings .legend-example {
    fill: hsl(240, 90%, 73%);
    opacity: 0.2;
}
odi-graph .innings-mark.hovered {
    opacity: 0.9;
    stroke: hsl(240, 80%, 33%);
}
odi-graph .legend-item-innings .legend-example {
    opacity: 0.8;
}
odi-graph .line-average,
odi-graph .legend-item-average .legend-example,
odi-graph .legend-item-rolling-average .legend-example {
    fill: none;
    stroke: hsl(25, 83%, 59%);
    stroke-width: 2;
    opacity: 0.8;
}
odi-graph .line-average-rolling,
odi-graph .legend-item-rolling-average .legend-example {
    stroke: hsl(197, 83%, 59%);
}
odi-graph .hover-rule {
    display: none;
    stroke: hsl(107, 51%, 35%);
}
odi-graph .hover-rule.active {
    display: inline;
}
odi-graph .hover-events {
    opacity: 0;
}
odi-graph .legend-item {
    display: inline-block;
    margin-left: 20px;
}
odi-graph .tooltip {
    background-color: hsl(41, 81%, 91%);
    border: 1px solid hsl(107, 51%, 35%);
    border-radius: 2px;
    box-shadow: 0 3px 5px 2px rgba(0,0,0,0.5);

    display: none;
    font-size: 0.75em;
    width: 20em;
    position: absolute;
    z-index: 1;
}
odi-graph .tooltip.active {
    display: block;
}
odi-graph .tooltip-header {
    background-color: hsl(107, 28%, 48%);
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0.5em 1em;
}
odi-graph .tooltip-averages {
    margin: 1em;
}
odi-graph .tooltip-innings-details {
    margin: 1em 0;
    border-top: 1px dashed hsl(41, 59%, 41%);
    padding: 0 1em;
}
odi-graph .tooltip dt {
    float: left;
    width: 9em;
}
odi-graph .tooltip dd {
    font-weight: bold;
    margin: 0;
}


/**
 * BREAKPOINT: Wide enough for two columns
 */
@media (min-width: 40em) {
    .content {
        width: calc(100% - 12rem);
    }
    /* Put the callouts over to the right */
    .callout {
        border-radius: 1em;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: -12rem;
        float: right;
        font-size: 2.5em;
        font-style: normal;
        padding: 0;
        position: relative;
        text-align: center;
        width: 10rem;
    }
    .callout::before, .callout::after {
        content: '';
    }
    .callout::after {
        border: 0.25em solid transparent;
        border-top-color: hsl(40, 43%, 87%);
        border-top-width: 0.5em;
        display: block;
        height: 0;
        position: absolute;
        -webkit-transform: translate(-0.2em, -0.35em) rotate(45deg);
                transform: translate(-0.2em, -0.35em) rotate(45deg);
        width: 0;
    }
}

/**
 * BREAKPOINT: Wider than content + padding
 */
@media (min-width: 992px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
}
